<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title | default("My Portfolio") }}</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <header>
    <nav>
      <ul>
        {% for item in navigation %}
			 <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; {{ site.currentYear }} Johnmarc Medalla Candelaria</p>
  </footer>
  
</body>
</html>
