---
title: Projects
layout: layout.njk
---

<h1>My Projects</h1>
<ul>
  <li><strong>Project One:</strong> Description of project one.</li>
  <li><strong>Project Two:</strong> Description of project two.</li>
  <li><strong>Project Three:</strong> Description of project three.</li>
</ul>
